.language-buttons {
    margin-top: 7px;
}
/* mobile settings */
@media screen and (max-width: 768px) {
    .language-buttons {
        margin-top: 7px;
        
    }
    .button {
        padding: 4px;
        font-size: 10px;
    }
}
